body {
    background-color: #3f94e7;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="password"],
input[type="email"] {
    border: 2px solid lightgrey;
    border-radius: 3px;
    width: 286px;
    padding: 15px;
    margin: 15px 15px 15px 0px;
}

button[type="submit"] {
    height: 55px;
    width: 320px;
    padding: 15px;
    margin: 15px 15px 15px 0px;
    background-color: green;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

a:link {
    font-size: 14px;
}

.topnav {
    padding-top: 75px;
    padding-bottom: 25px;
    margin: auto;
    text-align: center;
}

.logo {
    height: 35px;
}

.center {
    background-color: white;
    margin: auto;
    width: 320px;
    border-radius: 3px;
    padding: 20px 40px;
}

.forgot {
    text-align: center;
    color: grey;
}

.login {
    padding-top: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
}
